*{
    padding: 0px;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    color: #111;
}

body{
    display: flex;
}

iframe{
    height: auto;
    width: 15.6rem;
    border: none;
}

.container-content{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.content{
    flex: 2;
}

.container-welcome{
    display: flex;
    flex-direction: column;
    padding-left: 3rem;
    padding-top: 3rem;
}

.welcome-userName{
    display: flex;
    flex-direction: row;
}

#welcome{
    font-size: 2.5rem;
}

#userName{
    font-size: 2.5rem;
}

.interrogacao{
    margin-top: 8px;
}

#interrogacao{
    font-size: 2rem;
    font-weight: lighter;
}

.barrasVerde{
    display: flex;
    flex-direction: row;
    margin-top: 8px;
}

.barra1{
    background-color: #0DB551;
    width: 124px;
    height: 4px;
    border-radius: 2px;
}

.barra2{
    background-color: #0DB551;
    width: 16px;
    height: 4px;
    border-radius: 2px;
    margin-left: 8px;
}

.barra3{
    background-color: #0DB551;
    width: 8px;
    height: 4px;
    border-radius: 2px;
    margin-left: 3px;
}

.titulo-filtro{
    margin-top: 4rem;
    margin-left: 3rem;
}

#ult-not{
    font-size: 22px;
}

.filtro{
    display: flex;
    margin-top: 5px;
}

#mostrar-somente{
    font-size: 16px;
    font-weight: lighter;
}

.filtro ul{
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}

.filtro li{
    list-style: none;
    display: flex;
    justify-content: center;
    margin-right: 10px;
}

.filtro a{
    text-decoration: none;
    font-size: 14px;
    margin-left: 5px;
}

.icons-filtro{
    width: 14px;
    height: 14px;
}

#brindes:hover, #pedidos:active{
    color: #9C4DD9;
}

#pedidos:hover, #pedidos:active{
    color: #0DB551;
}


footer{
    margin-bottom: 10px;
    font-size: 12px;
    color: #9E9E9E;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#ano-designedBy{
    text-decoration: none;
    font-size: 12px;
    color: #9E9E9E;
}

#fabricaSoftware{
    text-decoration: none;
    color: #9E9E9E;
}

#fabricaSoftware:hover{
    color: #0DB451;
    font-weight: bold;
}